.main-container76 {
  overflow: hidden;
}

.main-container76,
.main-container76 * {
  box-sizing: border-box;
}
.swal2-confirm{
  background-color: #694f42;
  color: white;
  width: 150px;
}
.text-3c1{
  position: relative;
    margin-top: 35px;
    font-size: 24px;
    margin-left: 580px;
    font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
    color: rgb(155, 100, 78);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  letter-spacing: 1px;
  opacity: 0.5;
  z-index: 1;
  text-decoration: line-through;
 
}
.main-container76 {
  position: relative;
  height: 100%;
  margin: 50px 90px 50px 90px;
}
.colors-container {
  position: relative;
  display: block;
  left: 550px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px; /* Adjust as needed for spacing between color container and other elements */
}
.brown-button-class {
  background-color: #694f42; /* Use the desired shade of brown */
  color: #fff; /* Set text color to contrast with the button background */
}

.color-item {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust as needed for spacing between color items */
}

.color-square {
  width: 20px; /* Adjust as needed for the size of the color square */
  height: 20px; /* Adjust as needed for the size of the color square */
  margin-right: 10px; /* Adjust as needed for spacing between color square and text */
  border-radius: 2px;
}

.color-text {
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 8;
}
.box76 {
  position: relative;
  width: auto;
  height: 22px;
  margin: 0 0 0 0;
  z-index: 4;
}
.text76 {
  position: relative;
  height: 100%;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.54px;
}
.text-276 {
  position: relative;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.54px;
  z-index: 3;
}
.text-376 {
  position: relative;
  height: 100%;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.54px;
  z-index: 1;
}
.text-476 {
  position: relative;
  height: 100%;
  margin-right: 10px;
   margin-left: 10px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.54px;
  z-index: 4;
}
.text-576 {
  position: relative;
  height: 100%;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.54px;
  z-index: 2;
}
.wrapper76 {
  position: relative;
  width: 100vw;
  height: auto;
  min-height: 567px;
  margin: 48px 0 0 0;
  z-index: 57;
}
.wrapper-276 {
  position: absolute;
  width: 450px;
  height: 680px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 57;
  overflow: hidden;
}
.img76 {
  position: relative;
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
  z-index: 58;
}
.text-676 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: auto;
  left: 550px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.884px;
  text-align: left;
  white-space: normal; /* Используем normal, чтобы перенос был разрешен */
  word-wrap: break-word; /* Разрешаем перенос слов */
  overflow: hidden; /* Скрываем контент, который выходит за границы блока */
  z-index: 5;
}

.text-776 {
  position: relative;
  display: block;
  margin-top: 25px;
  width: 500px;
  height: auto;
  left: 550px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.54px;
  z-index: 25;
}
.text-876 {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  left: 550px;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 6;
}

.text-976 {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  left: 560px;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(155, 100, 78);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 27;
}
.tab{
  display: inline-block;
}
.text-a76 {
  position: relative;
  display: block;
  margin-top: 64px;
  width: 545px;
  height: auto;
  left: 550px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  letter-spacing: 1px;
  z-index: 7;
}
.text-b76 {
  position: relative;
  display: block;
  margin-top: 20px;
  height: auto;
  left: 550px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 8;
}

.text-1076 {
  position: relative;
  display: block;
  margin-top: 35px;
  height: auto;
  left: 550px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 9;
}
.wrapper-676 {
  position: relative;
  display: block;
  margin-top: 30px;
  width: 1083.5px;
  height: auto;
  z-index: 63;
}



.text-1576,
.text-1676 {
  cursor: pointer;
  position: relative;
  width: auto;
}

.underline {
  position: relative;
  height: 2px;
  width: 0px;
  background-color: #694f42; /* You can change the color to your preference */
  transition: left 0.3s ease;
}

.active {
  font-weight: bold;
}


.section76 {
  position: absolute;
  width: 16.71%;
  height: auto;
  left: 550px;
  z-index: 52;
}

.text-1176 {
  position: absolute;
  height: 53.79%;
  top: 25.97%;
  left: 35.72%;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 49;
}
.wrapper-876 {
  position: absolute;
  width: 29.79%;
  height: 100%;
  top: 0;
  left: 70.21%;
  border: 0.77px solid #694f42;
  z-index: 54;
}
.text-1276 {
  position: absolute;
  height: 53.79%;
  top: 24.11%;
  left: 42.86%;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 51;
}
.text-1376 {
  position: absolute;
  height: 55.64%;
  top: 24.11%;
  left: 47.51%;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 50;
}
.text-1476 {
  position: relative;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 20;
}
.pic-376 {
  position: relative;
  width: 30px;
  height: 10px;
  margin-left: 10px;
  background: url(../assets/images/arrow1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.wrapper-976 {
  position: relative;
    width: 1256px;
    height: auto;
    min-height: 490px;
    margin: 100px 0 0 0;
    z-index: 55;
}
.text-1576 {
  position: relative;
  margin-right: 10px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 22;
}
.text-1676 {
  position: relative;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 23;
}
.wrapper-a76 {
  position: absolute;
    width: 39.01%;
    height: 500px;
    margin-top: 50px;
    top: 0;
    left: 50.99%;
    background: #ffffff;
    z-index: 55;
    overflow: hidden;
}
.img-376 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../assets/images/as8.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
}
.pic-476 {
  position: absolute;
  width: 5.65%;
  height: 0.32%;
  top: 6.04%;
  left: 0;
  background: url(../assets/images/asline.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.text-1776 {
     position: relative;
    display: flex;
    width: 48%;
    height: auto;
    left: 0;
    margin-top: 20px;
    font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    letter-spacing: 1px;
    z-index: 26;
}
.text-1876 {
  display: block;
  position: relative;
  width: auto;
  height: 44px;
  margin: 100px 0 0 0;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.884px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.wrapper-b76 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1257px;
  height: 348px;
  margin: 50px 0 0 0;
  z-index: 46;
}
.wrapper-c76 {
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 348px;
  background: #ffffff;
  z-index: 42;
  overflow: hidden;
}
.section-276 {
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 348px;
  background: #ffffff;
  z-index: 44;
  overflow: hidden;
}

.wrapper-d76 {
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 348px;
  background: #ffffff;
  z-index: 40;
  overflow: hidden;
}

.wrapper-e76 {
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 348px;
  background: #ffffff;
  z-index: 46;
  overflow: hidden;
}

.wrapper-f76 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1189px;
  height: 28px;
  margin: 15px 0 0 0;
  z-index: 39;
}
.text-1976 {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 37;
}
.text-1a76 {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 38;
}
.text-1b76 {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 36;
}
.text-1c76 {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 39;
}
.group76 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1257px;
  height: 40px;
  margin: 15px 0 0 0;
  z-index: 31;
}
.text-1d76 {
  flex-shrink: 0;
  position: relative;
  width: 291px;
  height: 40px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.504px;
  text-align: left;
  letter-spacing: 0.32px;
  z-index: 29;
}
.text-1e76 {
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 40px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.504px;
  text-align: left;
  letter-spacing: 0.32px;
  z-index: 30;
}
.text-1f76 {
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 40px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.504px;
  text-align: left;
  letter-spacing: 0.32px;
  z-index: 28;
}
.text-2076 {
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 40px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.504px;
  text-align: left;
  letter-spacing: 0.32px;
  z-index: 31;
}
.section-376 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1056px;
  height: 30px;
  margin: 10px 0 0 0;
  z-index: 35;
}
.text-2176 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #9b644e;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 33;
}
.text-2276 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #9b644e;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 34;
}
.text-2376 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #9b644e;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 32;
}
.text-2476 {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #9b644e;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 35;
}
.colors-container .color-item .color-square.selected {
  border: 2px solid #694F42; /* Set the border color to your preference */
}

.box-676 {
  position: relative;
  display: block;
  width: 20.42%;
  height: 53px;
  left: 800px;
  white-space: nowrap;
  background: #694f42;
  z-index: 19;
  border-radius: 10px;
  box-shadow: 15px 15px 60px 0 rgba(105, 79, 66, 0.35);
  display: flex; /* Используем flexbox для расположения дочерних элементов в строку */
  align-items: center; /* Отцентрируем дочерние элементы по вертикали */
  justify-content: center; /* Равномерно распределим пространство между дочерними элементами */
}

.similar-products-container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  gap: 16px; /* Adjust the gap according to your design */
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
}

@media (min-width: 992px) and (max-width: 1200px) {
  .main-container76 {
  position: relative;
  height: 100%;
  margin: 50px 0px 50px 50px;
}
.text-3c1{
  position: relative;
    margin-top: 35px;
    font-size: 24px;
    margin-left: 80px;
     font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
    color: rgb(155, 100, 78);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  letter-spacing: 1px;
  opacity: 0.5;
  z-index: 1;
  text-decoration: line-through;
 
}
   .wrapper-276 {
    position: relative;
    width: 420px!important;
    height: 510px!important;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 57;
    overflow: hidden;
  }
  .text-676 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
   width: 400px;
  height: auto;
  left: 60px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.884px;
  text-align: left;
  white-space: normal; /* Используем normal, чтобы перенос был разрешен */
  word-wrap: break-word; /* Разрешаем перенос слов */
  overflow: hidden; /* Скрываем контент, который выходит за границы блока */
  z-index: 5;
}

.text-776 {
  position: relative;
  display: block;
  margin-top: 25px;
  width: 500px;
  height: auto;
  left: 60px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: normal ; /* Используем normal, чтобы перенос был разрешен */
  word-wrap: break-word; /* Разрешаем перенос слов */
  overflow: hidden; 
  letter-spacing: 0.54px;
  z-index: 25;
}
.text-876 {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  left: 60px;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 6;
}
.text-976 {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  left: 70px;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(155, 100, 78);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 27;
}
.text-a76 {
  position: relative;
  display: block;
  margin-top: 30px;
 width: 400px;
  height: auto;
  left: 60px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  letter-spacing: 1px;
  z-index: 7;
}
.text-b76 {
  position: relative;
  display: block;
  margin-top: 20px;
   width: 400px;
  height: auto;
  left: 60px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 8;
}

.text-1076 {
  position: relative;
  display: block;
  margin-top: 35px;
  width: 200px;
  height: auto;
  left: 60px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 9;
}

.colors-container {
  position: relative;
  width: 400px;
  left: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px; /* Adjust as needed for spacing between color container and other elements */
}

.section76 {
  position: relative;
  display: flex;
  width: 16.71%;
  height: 100%;
  top: 20.47%;
  left: 490px;
  z-index: 52;
}

.box-676 {
  position: relative;
  display: flex;
  width: 250px;
  height: 53px;
  top: 0px;
  left: 480px;
  white-space: nowrap;
  background: #694f42;
  z-index: 19;
  border-radius: 10px;
  box-shadow: 15px 15px 60px 0 rgba(105, 79, 66, 0.35);
  display: flex; /* Используем flexbox для расположения дочерних элементов в строку */
  align-items: center; /* Отцентрируем дочерние элементы по вертикали */
  justify-content: center; /* Равномерно распределим пространство между дочерними элементами */
}

.text-1476 {
  position: relative;
  width: auto;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 20;
}

.wrapper-676 {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 1000px;
  top: 0px;
  left: -485px;
  height: auto;
  z-index: 63;
}
.wrapper76 {
  position: relative;
  width: 90vw;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 48px 0 0 0;
  z-index: 57;
}
.wrapper-976 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 0px 0 0 0;
  z-index: 55;
}
.container5567{
  width: 460px;
}

.wrapper-a76 {
  position: relative;
  width: 435px;
  height: 468px;
  top: 0;
  left: 50.99%;
  background: #ffffff;
  z-index: 55;
  overflow: hidden;
}

.text-1776 {
  position: relative;
  align-self: flex-start;
  width: 450px;
  height: auto;
  top: 0;
  left: -430px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify-all;
  letter-spacing: 1px;
  z-index: 26;
}


.tab {
  margin-right: 10px; /* Регулируйте отступ по вашему усмотрению */
}


.tabs-container {
  display: flex;
  flex-direction: row;
}

.underline {
  height: 2px;
  background-color: #000; /* Измените цвет полосы по вашему выбору */
  margin: 10px 0; /* Регулируйте отступ по вашему усмотрению */
}

.content-container {
  display: flex;
  flex-direction: row;
}

}


@media (max-width: 991px) {
  .main-container76 {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 50px 50px 50px;
    align-items: center;
}
.text-3c1{
  position: relative;
    margin-top: 35px;
    font-size: 24px;
    margin-left: 30px;
     font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
    color: rgb(155, 100, 78);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  letter-spacing: 1px;
  opacity: 0.5;
  z-index: 1;
  text-decoration: line-through;
 
}
   .wrapper-276 {
    position: relative;
    width: 420px!important;
    height: 510px!important;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 57;
    overflow: hidden;
  }
.text-676 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  left: 0px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.884px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  z-index: 5;
}

.text-776 {
  position: relative;
  display: block;
  margin-top: 25px;
  width: 700px;
  height: auto;
  left: 0px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: normal ; /* Используем normal, чтобы перенос был разрешен */
  word-wrap: break-word; /* Разрешаем перенос слов */
  overflow: hidden; 
  letter-spacing: 0.54px;
  z-index: 25;
}
.text-876 {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  left: 0px;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 6;
}
.text-976 {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  left: 10px;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(155, 100, 78);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 27;
}
.text-a76 {
  position: relative;
  display: block;
  margin-top: 30px;
 width: 700px;
  height: auto;
  left: 0px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  letter-spacing: 1px;
  z-index: 7;
}
.text-b76 {
  position: relative;
  display: block;
  margin-top: 20px;
   width: 700px;
  height: auto;
  left: 0px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 8;
}

.text-1076 {
  position: relative;
  display: block;
  margin-top: 35px;
  width: 700px;
  height: auto;
  left: 0px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.26px;
  z-index: 9;
}

.colors-container {
  position: relative;
  width: 700px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px; /* Adjust as needed for spacing between color container and other elements */
}

.section76 {
  position: relative;
  display: flex;
  width: auto;
  height: 100%;
  top: 20.47%;
  left: 0px;
  z-index: 52;
}

.box-676 {
  position: relative;
  display: flex;
  width: 250px;
  height: 53px;
  top: 0px;
  margin-left: 20px;
  left: 0px;
  white-space: nowrap;
  background: #694f42;
  z-index: 19;
  border-radius: 10px;
  box-shadow: 15px 15px 60px 0 rgba(105, 79, 66, 0.35);
  display: flex; /* Используем flexbox для расположения дочерних элементов в строку */
  align-items: center; /* Отцентрируем дочерние элементы по вертикали */
  justify-content: center; /* Равномерно распределим пространство между дочерними элементами */
}

.text-1476 {
  position: relative;
  width: auto;
  height: auto;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 20;
}

.wrapper-676 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
  top: 20px;
  left: 0px;
  height: auto;
  margin: 17px 0 0 0;
  z-index: 63;
}

.container5567 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-top: 50px;
}
.container55{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.wrapper76 {
  position: relative;
  width: 90vw;
  display: flex;
  flex-direction: column; /* Используем вертикальную колонку */
  align-items: center; 
  height: auto;
  margin: 48px 0 0 0;
  z-index: 57;
}
.wrapper-976 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  margin: 80px 0 0 0;
  z-index: 55;
}


.wrapper-a76 {
 display: none;
}

.text-1776 {
  position: relative;
  align-self: flex-start;
  width: 700px;
  height: auto;
  top: 0;
  left: 0px;
  font-family: Montserrat Alternates, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify-all;
  letter-spacing: 1px;
  z-index: 26;
}


.tab {
  margin-right: 10px; /* Регулируйте отступ по вашему усмотрению */
}


.tabs-container {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.underline {
  height: 2px;
  background-color: #000; /* Измените цвет полосы по вашему выбору */
  margin: 10px 0; /* Регулируйте отступ по вашему усмотрению */
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 700px;
}

.box76 {
  position: relative;
  width: auto;
  height: 22px;
  margin: 0 0 0 0;
  z-index: 4;
  align-self: flex-start;
}

}
